@model List<KillerAppS2.Models.TemplateViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @ViewData["Username"]</h1>
<h2>Template Maker</h2>
<p> Choose an option below to edit/make/delete </p>

@if (Model != null)
{
    <table>
        <tr>
            <th> Title </th>
            <th> Name </th>
            <th> Story </th>
            <th> Area id </th>
            <th> Foto Url </th>
            <th> Edit </th>
            <th> Delete </th>
        </tr>
    @foreach(TemplateViewModel viewModel in Model)
    {
        <tr>
            <td>@viewModel.Title </td>
            <td>@viewModel.Name</td>
            <td>@viewModel.Story</td>
            <td>@viewModel.AreaId</td>
            <td>@viewModel.FotoUrl</td>
            <td><a asp-controller="#" asp-action="#"> Edit the Location</a></td>
            <td><a asp-controller="#" asp-action="#"> Delete the Location</a></td>
        </tr>
    }
  </table> 
  <form>
    <button name="@ViewData["TemplateName"]" asp-controller="Template" asp-action="Create"> Make a new @ViewData["TemplateName"]</button>
    <button asp-controller="Template" asp-action="Index"> Return to the home page </button>
</form>    
  
}
else if (Model == null && ViewData["nothing"] != null)
{
    <p> There is nothing  @ViewData["nothing"] <br />
        Do you want to make a new @ViewData["TemplateName"]? </p>
    <form>
        <button name="@ViewData["TemplateName"]" asp-controller="Template" asp-action="Create"> Make a new @ViewData["TemplateName"]</button>
        <button asp-controller="Template" asp-action="Index"> Return to the home page </button>
    </form>
}
else
{
    <p>Test: @ViewData["TemplateName"]?</p>
    <form method="post">
        <button asp-controller="Template" asp-action="SetTemplateNameToLocation">Location</button>
        <button asp-controller="Template" asp-action="SetTemplateNameToNpc">Npc</button>
        <button asp-controller="Template" asp-action="SetTemplateNameToMonster">Monster</button>
        <button asp-controller="Template" asp-action="SetTemplateNameToItem">Item</button>
        <button asp-controller="Template" asp-action="SetTemplateNameToShop">Shop</button>
        <button asp-controller="Template" asp-action="SetTemplateNameToArea">Area</button>
    </form>
}

